<div>
    <div>
        <h2>Create New Project</h2>
        <a href="/">X</a>
    </div>
    
    <form action="/projects/created" method="post">
        Name:<input type="text" name="name" required>
        Description: <input type="text" name="description" required>   <!--<textarea name="description" cols="30" rows="3" required></textarea>-->
        Author:<input type="text" name="author" required>
        <input type="submit" value="Create Project">
    </form>
</div>